*{
    padding: 0;
    margin: 0;
}
header{
    height: 40px;
    background-color: rgb(107, 105, 105);
    text-align: center;
}
body{
    background-color: #22252e;
}
.logo-t{
    font-size: 28px;
    font-weight: 500;
    color: white;
}
.add_btn{
    display: flex;
    flex-direction: row;
}
.add-block{
    flex: 1;
    background-color: #353942;
    color: white;
}
.add{
    color: white;
    border: gray 1px solid;
}
.buttons{
    flex: 1;
    background-color: #353942;
}
.btn{
    width: 75px;
    height: 30px;
    background-color: #6e6e6e;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}
img{
    width: 50%;
    margin-left: 25%;
}
